@import "~angular-star-rating/assets/scss/star-rating";
.star-svg {
  &:active, &:link, &:visited, &:hover {
    outline: none;
    border: none;
  }
}

.about-movie{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__title{
    width: 100%;
    text-align: center;
  }
  &__rating{
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  &__img{
    width: 80%;
  }
  &__content{
    margin-top: 10px;
    border-top: 1px solid #000 ;
    width: 100%;
  }
}

.rating{
  &__text{
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
  }
}